<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="customerDAO" class="com.spring.learning.customer.Dao.Impl.JdbcCustomerDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="customerSimpleDAO" class="com.spring.learning.customer.Dao.Impl.SimpleJdbcCustomerDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>